{% extends 'base.html' %}

{% block title %} Reset Password {% endblock title%}

{% if validlink %}

    {% block server_messages %}
        {% for key, value in form.errors.items %}
        <div class="notification bg-red-500">
            <h2 class="text-base">{{value}}</h2>
            <button onclick="removeMessage(this)" class="text-white">
                <span class="material-symbols-rounded icon">close</span>
            </button>
        </div>
        {% endfor %}
    {% endblock server_messages %}

{% endif %}

{% block main %}
<form method="post" class="form">
    {% csrf_token %}
    {% if validlink %}

        <h1 class="form-title">Reset Password</h1>
        
        <div class="field-container">
            <input type="password" name="new_password1" class="input-field peer" placeholder="Enter New Password" required>
            <span class="field-label peer-focus:text-yellow-500">New Password</span>
        </div>

        <div class="field-container">
            <input type="password" name="new_password2" class="input-field peer" placeholder="Confirm New Password" required>
            <span class="field-label peer-focus:text-yellow-500">Confirm New Password</span>
        </div>
        
        <button type="submit" class="button"><span class="material-symbols-rounded icon">done</span> Reset Password</button>

    {% else %}
        <h1 class="text-base text-center">
            The password reset link was invalid, possibly because it has already been used.
            Please request a new password reset.
        </h1>
    {% endif %}
</form>
{% endblock main %}